Repository charisma-ai/charisma-sdk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --trailing-comma all --write

chore: update deps
  package.json
  yarn.lock
Due: prettier --trailing-comma all --write

v2.0.0-alpha.11
  package.json
Due: prettier --trailing-comma all --write

fix: revert conversation IDs back to numbers
  .eslintrc
  CHANGELOG.md
  src/Conversation.ts
  src/Playthrough.ts
  src/api.ts
  src/types.ts
  test/index.html
Due: eslint --fix, prettier --trailing-comma all --write

v2.0.0-alpha.12
  package.json
Due: prettier --trailing-comma all --write

fix: improve reconnection logic
  CHANGELOG.md
  src/Playthrough.ts
  test/index.html
Due: eslint --fix, prettier --trailing-comma all --write

v2.0.0-alpha.13
  package.json
Due: prettier --trailing-comma all --write

fix: add jittered looping reconnection mechanism
  README.md
  src/Playthrough.ts
  test/index.html
Due: eslint --fix, prettier --trailing-comma all --write

v2.0.0-alpha.14
  package.json
Due: prettier --trailing-comma all --write

v2.0.0
  package.json
Due: prettier --trailing-comma all --write

feat: adds the option to pass an `apiKey` to use for authentication
  CHANGELOG.md
  README.md
  src/api.ts
Due: eslint --fix, prettier --trailing-comma all --write

test: improve test page
  .gitignore
  test/index.html
  test/styles.css
Due: none

v2.1.0
  package.json
Due: prettier --trailing-comma all --write

feat: add track-based speaker API
  CHANGELOG.md
  README.md
  src/Speaker.ts
  test/index.html
  test/speaker.html
Due: eslint --fix, prettier --trailing-comma all --write

v2.2.0
  package.json
Due: prettier --trailing-comma all --write

Create LICENSE.md
  LICENSE.md
Due: prettier --trailing-comma all --write

v2.3.0
  package.json
Due: prettier --trailing-comma all --write

feat: add `waitForLastResult` option to `Microphone.stopListening()`
  CHANGELOG.md
  src/Microphone.ts
Due: eslint --fix, prettier --trailing-comma all --write

chore: update deps
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc.json
  package.json
  src/Conversation.ts
  src/Microphone.ts
  yarn.lock
Due: eslint --fix, prettier --trailing-comma all --write

feat: update SDK to use new feelings engine
  CHANGELOG.md
  src/Playthrough.ts
  src/api.ts
  src/index.ts
  src/types.ts
Due: eslint --fix, prettier --trailing-comma all --write

v3.0.0-alpha.1
  package.json
Due: prettier --trailing-comma all --write

build: revert to p-queue@6 (non-esm-only) to make it easier to use
  package.json
  src/Conversation.ts
  yarn.lock
Due: eslint --fix, prettier --trailing-comma all --write

v3.0.0-alpha.2
  package.json
Due: prettier --trailing-comma all --write

fix: swap `feelings` and `emotion`
  CHANGELOG.md
  src/api.ts
  src/types.ts
Due: eslint --fix, prettier --trailing-comma all --write

v3.0.0-alpha.3
  package.json
Due: prettier --trailing-comma all --write

v3.0.0
  CHANGELOG.md
  package.json
Due: prettier --trailing-comma all --write

feat: `SpeechRecognitionStopOptions` is now exported
  CHANGELOG.md
  src/index.ts
Due: eslint --fix, prettier --trailing-comma all --write

feat: add support for `action` event type
  CHANGELOG.md
  README.md
  src/Conversation.ts
  src/types.ts
Due: eslint --fix, prettier --trailing-comma all --write

v3.1.0-alpha.1
  package.json
Due: prettier --trailing-comma all --write

fix: use `action` instead of `text`
  src/types.ts
  test/index.html
Due: eslint --fix

v3.1.0-alpha.2
  package.json
Due: prettier --trailing-comma all --write

v3.1.0
  CHANGELOG.md
  package.json
Due: prettier --trailing-comma all --write

feat: add `startGraphId` and `startGraphReferenceId` to `StartEvent` to start from a specific graph
  CHANGELOG.md
  src/types.ts
Due: eslint --fix, prettier --trailing-comma all --write

feat: add experimental pause/play functionality
  CHANGELOG.md
  src/Playthrough.ts
  test/index.html
  yarn.lock
Due: eslint --fix, prettier --trailing-comma all --write

chore: update package author
  package.json
Due: prettier --trailing-comma all --write

v3.2.0-alpha.1
  package.json
Due: prettier --trailing-comma all --write

v3.2.0
  package.json
Due: prettier --trailing-comma all --write

chore: update deps
  CHANGELOG.md
  package.json
  src/Conversation.ts
  src/Microphone.ts
  src/speech-types.ts
  yarn.lock
Due: eslint --fix, prettier --trailing-comma all --write

feat: add ability to subscribe to remote client events
  CHANGELOG.md
  README.md
  src/Conversation.ts
  src/Playthrough.ts
  src/types.ts
  test/index.html
Due: eslint --fix, prettier --trailing-comma all --write

v3.3.0-alpha.1
  package.json
Due: prettier --trailing-comma all --write

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --trailing-comma all --write: any of: *.{md,json}
