Repository charisma-ai/charisma-sdk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --trailing-comma all --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "git add"],
  "*.md": ["prettier --single-quote --trailing-comma all --write", "git add"]
}

feat: add `resume` event to SDK
  CHANGELOG.md
  src/Conversation.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v1.1.0
  package.json
Due: none

feat: add `restartFromScene` method
  CHANGELOG.md
  src/Charisma.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v1.2.0-alpha.1
  package.json
Due: none

fix: ensure endpoints that only return status codes don't throw an exception
  src/Charisma.ts
Due: eslint --fix

v1.2.0-alpha.2
  package.json
Due: none

refactor: exports more types and adjusts message types
  CHANGELOG.md
  src/index.ts
  src/types.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

chore: update deps and linting config
  .eslintignore
  .eslintrc
  package.json
  src/Charisma.ts
  tsconfig.eslint.json
  yarn.lock
Due: eslint --fix

v1.2.0
  package.json
Due: none

feat: add an `interrupt` option to `Speaker` to ensure replies don't overlap
  CHANGELOG.md
  src/Speaker.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

build: target ES2018
  CHANGELOG.md
  tsconfig.json
Due: prettier --single-quote --trailing-comma all --write

v1.3.0
  package.json
Due: none

chore: update deps
  package.json
  yarn.lock
Due: none

feat: microphone now has a way to timeout after a specified period
  CHANGELOG.md
  README.md
  src/Microphone.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

test: add test for microphone timeout reset
  test/index.html
Due: none

v1.4.0
  package.json
Due: none

feat: add support for SDK use in node.js
  CHANGELOG.md
  package.json
  src/Charisma.ts
  yarn.lock
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

fix: use isomorphic-unfetch
  package.json
  src/Charisma.ts
  yarn.lock
Due: eslint --fix

v1.5.0-alpha.2
  package.json
Due: none

v1.5.0
  CHANGELOG.md
  package.json
Due: prettier --single-quote --trailing-comma all --write

feat: add `start` and `stop` events to `Speaker`
  CHANGELOG.md
  README.md
  src/Speaker.ts
  test/speaker.html
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v1.6.0
  package.json
Due: none

fix: GET requests no longer try to add a body to the request
  CHANGELOG.md
  src/Charisma.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v1.6.1
  package.json
Due: none

feat: replace scene-complete functionality with episode-complete
  CHANGELOG.md
  README.md
  src/Charisma.ts
  src/Conversation.ts
  src/types.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v1.7.0-alpha.1
  package.json
Due: none

feat: adds `restartFromEpisode...` methods and removes `restartFromScene` method
  CHANGELOG.md
  src/Charisma.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v1.7.0-alpha.2
  package.json
Due: none

fix: fix types for `EpisodeCompleteEvent`
  src/types.ts
Due: eslint --fix

v1.7.0-alpha.3
  package.json
Due: none

fix: adjusted `setMemory` type to accept `null`
  CHANGELOG.md
  src/Charisma.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

feat: added types for new `panel` message, and added bubble-related types onto the `media` key
  CHANGELOG.md
  src/types.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v1.7.0-alpha.4
  package.json
Due: none

feat: pass through more events: `reconnect`, `reconnecting`, `disconnect` and `problem`
  CHANGELOG.md
  src/Charisma.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v1.7.0
  package.json
Due: none

feat: reconnecting now emits any missed messages
  CHANGELOG.md
  src/Charisma.ts
  src/Conversation.ts
  yarn.lock
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v1.8.0-alpha.1
  package.json
Due: none

fix: use query params instead of body for GET request
  package.json
  src/Charisma.ts
  yarn.lock
Due: eslint --fix

v1.8.0-alpha.2
  package.json
Due: none
