Repository charisma-ai/charisma-sdk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --trailing-comma all --write

fix: add missing `graphId` field on path items
  CHANGELOG.md
  src/types.ts
Due: eslint --fix, prettier --trailing-comma all --write

v3.3.0-alpha.2
  package.json
Due: prettier --trailing-comma all --write

v3.3.0
  CHANGELOG.md
  package.json
Due: prettier --trailing-comma all --write

v3.4.0-alpha.1
  package.json
Due: prettier --trailing-comma all --write

feat: added `languageCode` option to `createPlaythroughToken`
  CHANGELOG.md
  README.md
  src/api.ts
Due: eslint --fix, prettier --trailing-comma all --write

chore: update deps
  package.json
  yarn.lock
Due: prettier --trailing-comma all --write

feat: add SDK info to joining a room
  CHANGELOG.md
  src/Playthrough.ts
  tsconfig.json
Due: eslint --fix, prettier --trailing-comma all --write

v3.4.0
  CHANGELOG.md
  package.json
Due: prettier --trailing-comma all --write

fix: `package.json` now references correct emitted types location
  package.json
  yarn.lock
Due: prettier --trailing-comma all --write

v3.4.1
  CHANGELOG.md
  package.json
Due: prettier --trailing-comma all --write

fix: send `sdkInfo` upon reconnection events as well
  src/Playthrough.ts
Due: eslint --fix

v3.4.2
  CHANGELOG.md
  package.json
Due: prettier --trailing-comma all --write

feat: add Decentraland support
  CHANGELOG.md
  package.json
  patches/microbundle+0.14.2.patch
  yarn.lock
Due: prettier --trailing-comma all --write

v3.5.0-alpha.1
  package.json
Due: prettier --trailing-comma all --write

fix: ensure `patch-package` runs correctly
  package.json
  patches/microbundle+0.14.2.dev.patch
Due: prettier --trailing-comma all --write

v3.5.0-alpha.2
  package.json
Due: prettier --trailing-comma all --write

v3.5.0
  package.json
Due: prettier --trailing-comma all --write

fix: update deps
  package.json
  yarn.lock
Due: prettier --trailing-comma all --write

feat: add experimental support for intermediate client events
  CHANGELOG.md
  README.md
  src/Conversation.ts
  src/types.ts
Due: eslint --fix, prettier --trailing-comma all --write

feat: multiple encodings can now be specified in `speechConfig`
  CHANGELOG.md
  README.md
  src/types.ts
  test/index.html
Due: eslint --fix, prettier --trailing-comma all --write

v3.6.0-alpha.1
  package.json
Due: prettier --trailing-comma all --write

v3.6.0
  CHANGELOG.md
  package.json
  src/Playthrough.ts
  src/types.ts
Due: eslint --fix, prettier --trailing-comma all --write

fix: `problem` events are now received by conversation emitters
  CHANGELOG.md
  src/Conversation.ts
  src/Playthrough.ts
  src/types.ts
Due: eslint --fix, prettier --trailing-comma all --write

v3.6.1
  package.json
Due: prettier --trailing-comma all --write

feat: add `forkPlaythrough` to API methods
  CHANGELOG.md
  src/api.ts
Due: eslint --fix, prettier --trailing-comma all --write

v3.7.0
  CHANGELOG.md
  package.json
Due: prettier --trailing-comma all --write

feat: multiple memories can now be set in the `setMemory` call
  CHANGELOG.md
  src/Playthrough.ts
  src/api.ts
  test/index.html
  tsconfig.json
Due: eslint --fix, prettier --trailing-comma all --write

v3.8.0
  package.json
Due: prettier --trailing-comma all --write

docs: add note about SpeechRecognition browser compatibility
  README.md
  package.json
Due: prettier --trailing-comma all --write

build: switch to pnpm
  package.json
  patches/microbundle+0.14.2.dev.patch
  patches/microbundle@0.15.1.patch
  pnpm-lock.yaml
  yarn.lock
Due: prettier --trailing-comma all --write

fix: improve microphone implementation when `continuous` is `true`
  CHANGELOG.md
  src/Microphone.ts
Due: eslint --fix, prettier --trailing-comma all --write

3.9.0
  package.json
Due: prettier --trailing-comma all --write

refactor: change `playthroughId` and `conversationId` usage from numbers to strings
  CHANGELOG.md
  README.md
  src/Conversation.ts
  src/Playthrough.ts
  src/api.ts
  src/types.ts
  test/index.html
Due: eslint --fix, prettier --trailing-comma all --write

4.0.0-alpha.2
  package.json
Due: prettier --trailing-comma all --write

feat: memories can now be any JSON type instead of only strings
  CHANGELOG.md
  README.md
  src/Playthrough.ts
  src/api.ts
  src/types.ts
Due: eslint --fix, prettier --trailing-comma all --write

4.0.0-alpha.3
  package.json
Due: prettier --trailing-comma all --write

feat: switch to ESM only
  .eslintrc
  .gitignore
  .npmrc
  .swcrc
  CHANGELOG.md
  LICENSE.md
  package.json
  patches/microbundle@0.15.1.patch
  pnpm-lock.yaml
  src/Conversation.ts
  src/Microphone.ts
  src/Playthrough.ts
  src/api.ts
  src/index.ts
  test/index.html
  test/speaker.html
  tsconfig.json
Due: eslint --fix, prettier --trailing-comma all --write

4.0.0-alpha.4
  package.json
Due: prettier --trailing-comma all --write

fix: use `exports` string instead of object
  package.json
Due: prettier --trailing-comma all --write

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --trailing-comma all --write: any of: *.{md,json}
