Repository charisma-ai/charisma-sdk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --trailing-comma all --write

4.0.0-alpha.5
  package.json
Due: prettier --trailing-comma all --write

fix: fix a couple of missed ESM changes
  src/Playthrough.ts
Due: eslint --fix

4.0.0-alpha.6
  package.json
Due: prettier --trailing-comma all --write

fix: turn `isolatedModules` on
  src/Playthrough.ts
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --trailing-comma all --write

4.0.0-alpha.7
  package.json
Due: prettier --trailing-comma all --write

fix: ensure JSON import assertion is retained
  .swcrc
  src/Playthrough.ts
Due: eslint --fix

4.0.0-alpha.8
  package.json
Due: prettier --trailing-comma all --write

feat: replace `getMessageHistory` with `getEventHistory`
  CHANGELOG.md
  src/Conversation.ts
  src/Playthrough.ts
  src/api.ts
  test/index.html
Due: eslint --fix, prettier --trailing-comma all --write

4.0.0-alpha.9
  package.json
Due: prettier --trailing-comma all --write

feat: add speech recognition to SDK via proxy
  src/MicrophoneRecorder.ts
  src/MicrophoneRecorderWorklet.ts
  src/Playthrough.ts
  src/index.ts
  src/types.ts
Due: eslint --fix

v4.0.0-stt.1
  package.json
Due: prettier --trailing-comma all --write

fix: improve restarting the `MicrophoneRecorder`
  src/MicrophoneRecorder.ts
  src/MicrophoneRecorderWorklet.ts
  src/Playthrough.ts
Due: eslint --fix

4.0.0-stt.2
  package.json
Due: prettier --trailing-comma all --write

refactor: fix esm issues
  .husky/pre-commit
  src/Conversation.ts
  src/Microphone.ts
  src/MicrophoneRecorder.ts
  src/Playthrough.ts
  src/Speaker.ts
Due: eslint --fix

4.0.0-stt.3
  package.json
Due: prettier --trailing-comma all --write

feat[152]: use unified types for STT input and output
  src/Playthrough.ts
  src/types.ts
  test/mic-check.html
Due: eslint --fix

feat[152]: update stt stream types
  src/types.ts
  test/mic-check.html
Due: eslint --fix

feat[152]: make booleans in speech recognition response
  src/types.ts
Due: eslint --fix

feat[152]: formatting tweaks and minor STT improvements
  src/Playthrough.ts
  src/types.ts
  test/mic-check.html
Due: eslint --fix

feat[152]: format mic check test file
  test/mic-check.html
Due: none

feat: add speech to text start and stop events
  src/Playthrough.ts
  src/types.ts
  test/mic-check.html
Due: eslint --fix

feat: rename start and stop event types
  src/Playthrough.ts
  src/types.ts
Due: eslint --fix

feat: add speech recognition id to start event
  src/types.ts
Due: eslint --fix

feat: add speech to text start and stop events (#27)
  src/Playthrough.ts
  src/types.ts
  test/mic-check.html
Due: eslint --fix

chore: update CHANGELOG ready for v4.0.0-alpha.10
  CHANGELOG.md
Due: prettier --trailing-comma all --write

4.0.0-alpha.10
  package.json
Due: prettier --trailing-comma all --write

chore: hardcode version in Playthrough: v4.0.0-alpha.11
  src/Playthrough.ts
Due: eslint --fix

4.0.0-alpha.11
  package.json
Due: prettier --trailing-comma all --write

chore: move types output v4.0.0-alpha.12
  package.json
  src/Playthrough.ts
Due: eslint --fix, prettier --trailing-comma all --write

4.0.0-alpha.12
  package.json
Due: prettier --trailing-comma all --write

docs: update changelog
  CHANGELOG.md
Due: prettier --trailing-comma all --write

4.0.0
  package.json
Due: prettier --trailing-comma all --write

chunky demo. pnpm install http-server -g && cd test && http-server. Then go to http://127.0.0.1:8080/chunky
  test/alloy1.wav
  test/alloy2.wav
  test/chunky.html
Due: none

fix[#30]: use the `sampleRate` of the created audio track
  CHANGELOG.md
  src/MicrophoneRecorder.ts
  src/Playthrough.ts
Due: eslint --fix, prettier --trailing-comma all --write

release: v4.0.1
  CHANGELOG.md
  src/Playthrough.ts
Due: eslint --fix, prettier --trailing-comma all --write

4.0.1
  package.json
Due: prettier --trailing-comma all --write

fix[#32]: `MicrophoneRecorder` now closes the underlying `MediaStreamTrack` on stop
  CHANGELOG.md
  src/MicrophoneRecorder.ts
Due: eslint --fix, prettier --trailing-comma all --write

v4.0.2
  CHANGELOG.md
  package.json
Due: prettier --trailing-comma all --write

fix[#34]: get \`sampleRate\` from \`AudioContext\` in Firefox
  CHANGELOG.md
  src/MicrophoneRecorder.ts
Due: eslint --fix, prettier --trailing-comma all --write

v4.0.3
  CHANGELOG.md
  package.json
Due: prettier --trailing-comma all --write

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --trailing-comma all --write: any of: *.{md,json}
