Repository charisma-ai/charisma-sdk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --trailing-comma all --write

remove event emitter inheritance from audio manager
  src/AudioManager.ts
Due: eslint --fix

update demo
  demos/deepgram-stt/src/main.ts
Due: none

update tests
  src/AudioManager.test.ts
Due: eslint --fix

fix first character speech not playing
  src/AudioOutputsService.ts
Due: eslint --fix

Pass timeslice option to audio inputs service
  src/AudioInputsService.ts
  src/AudioManager.ts
Due: eslint --fix

fix demo
  demos/deepgram-stt/src/main.ts
Due: none

fix no dictation on first listen issue
  demos/deepgram-stt/src/main.ts
  src/AudioInputsService.ts
  src/AudioManager.test.ts
  src/AudioManager.ts
Due: eslint --fix

code tidy up from PR review
  src/AudioManager.ts
Due: eslint --fix

add fallback errors to stt handlers
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix

more tests
  src/AudioManager.test.ts
  src/__mocks__/MockAudioInputsService.ts
Due: eslint --fix

Stop background audio in demo
  demos/deepgram-stt/src/main.ts
Due: none

PR updates
  demos/deepgram-stt/src/main.ts
  src/AudioInputsService.ts
  src/AudioManager.test.ts
Due: eslint --fix

split tests
  src/AudioManager.test.ts
Due: eslint --fix

47 audiomanager (#52)
  demos/browser-stt/readme.md
  demos/browser-stt/src/main.ts
  demos/deepgram-stt/index.html
  demos/deepgram-stt/readme.md
  demos/deepgram-stt/src/main.ts
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/AudioInputsBrowser.ts
  src/AudioInputsService.ts
  src/AudioManager.test.ts
  src/AudioManager.ts
  src/AudioOutputsService.ts
  src/MediaAudio.ts
  src/__mocks__/MockAudio.ts
  src/__mocks__/MockAudioInputsBrowser.ts
  src/__mocks__/MockAudioInputsService.ts
  src/__mocks__/MockAudioOutputsService.ts
  src/__mocks__/MockMediaAudio.ts
  src/index.ts
Due: eslint --fix, prettier --trailing-comma all --write

update README with documentation for AudioManager changes
  CHANGELOG.md
  README.md
Due: prettier --trailing-comma all --write

better readme
  README.md
  src/api.ts
Due: eslint --fix, prettier --trailing-comma all --write

fix readme
  README.md
Due: prettier --trailing-comma all --write

update README with documentation for AudioManager changes (#56)
  CHANGELOG.md
  README.md
  src/api.ts
Due: eslint --fix, prettier --trailing-comma all --write

play and mute multiple audio tracks
  demos/deepgram-stt/src/main.ts
  src/AudioManager.ts
  src/MediaAudio.ts
Due: eslint --fix

track volume is relative to graph editor set volume
  src/AudioManager.ts
  src/AudioTrackManager.ts
  src/MediaAudio.ts
Due: eslint --fix

remove self from currentAudio when ended
  src/AudioTrackManager.ts
Due: eslint --fix

Restart and stop audio tracks when required
  src/AudioTrackManager.ts
  src/MediaAudio.ts
Due: eslint --fix

remove redundant code
  src/AudioTrackManager.ts
Due: eslint --fix

add MediaAudio test
  src/MediaAudio.test.ts
Due: eslint --fix

fix tests
  src/AudioTrackManager.test.ts
  src/MediaAudio.test.ts
  src/__mocks__/MockAudio.ts
  src/__mocks__/MockMediaAudio.ts
Due: eslint --fix

swap speech encodings for compatibility on safari
  demos/deepgram-stt/src/main.ts
Due: none

fix tests
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/AudioTrackManager.test.ts
  src/AudioTrackManager.ts
  src/__mocks__/MockAudio.ts
  src/__mocks__/MockMediaAudio.ts
Due: eslint --fix, prettier --trailing-comma all --write

remove commented code
  src/AudioTrackManager.test.ts
Due: eslint --fix

Add MediaAudio test
  src/MediaAudio.test.ts
Due: eslint --fix

fix tests
  src/MediaAudio.test.ts
Due: eslint --fix

REmove MediaAudio test
  src/MediaAudio.test.ts
Due: eslint --fix

Set MediaAudio original volume on creation
  src/AudioTrackManager.ts
  src/MediaAudio.ts
Due: eslint --fix

remove unused mocks
  src/AudioManager.test.ts
Due: eslint --fix

add wav to speech encoding options
  demos/deepgram-stt/src/main.ts
Due: none

play and mute multiple audio tracks (#57)
  demos/deepgram-stt/src/main.ts
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/AudioManager.test.ts
  src/AudioManager.ts
  src/AudioTrackManager.test.ts
  src/AudioTrackManager.ts
  src/MediaAudio.ts
  src/__mocks__/MockAudio.ts
  src/__mocks__/MockMediaAudio.ts
Due: eslint --fix, prettier --trailing-comma all --write

pause microphone instead of stopping it
  src/AudioInputsService.ts
Due: eslint --fix

pause microphone instead of stopping it (#61)
  src/AudioInputsService.ts
Due: eslint --fix

stop character speech when microphone turns on
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --trailing-comma all --write: any of: *.{md,json}
