Repository charisma-ai/charisma-sdk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --trailing-comma all --write

docs: update docs to mention `startGraphReferenceId`
  README.md
Due: prettier --trailing-comma all --write

add orientation type to ImageLayer
  CHANGELOG.md
  src/types.ts
Due: eslint --fix, prettier --trailing-comma all --write

add orientation type to ImageLayer (#38)
  CHANGELOG.md
  src/types.ts
Due: eslint --fix, prettier --trailing-comma all --write

4.0.4-alpha
  package.json
Due: prettier --trailing-comma all --write

feat: Updated types SpeechRecognitionStartEvent, SpeechRecognitionResponse, SpeechRecognitionParameters with traceId
  CHANGELOG.md
  src/types.ts
Due: eslint --fix, prettier --trailing-comma all --write

4.0.5-alpha
  package.json
Due: prettier --trailing-comma all --write

readd orientation type
  src/types.ts
Due: eslint --fix

4.0.5-alpha.2
  package.json
Due: prettier --trailing-comma all --write

update changelog for v4.0.5
  CHANGELOG.md
Due: prettier --trailing-comma all --write

4.0.5
  package.json
Due: prettier --trailing-comma all --write

feat: update readme with startGraphReferenceId not needed for web stories
  README.md
Due: prettier --trailing-comma all --write

feat[#41]: Improve speech recognition docs
  README.md
Due: prettier --trailing-comma all --write

add socker io to deps
  package.json
  pnpm-lock.yaml
Due: prettier --trailing-comma all --write

remove old test project
  test/index.html
  test/mic-check.html
  test/speaker.html
  test/styles.css
Due: none

rename Microphone to BrowserMicrophone
  src/BrowserMicrophone.ts
Due: eslint --fix

Add new Microphone stt stuff
  src/Microphone.ts
Due: eslint --fix

delete MicrophoneRecorder
  src/MicrophoneRecorder.ts
  src/MicrophoneRecorderWorklet.ts
Due: eslint --fix

update index.js
  src/index.ts
Due: eslint --fix

get microphne automatically when listening starts
  src/Microphone.ts
Due: eslint --fix

remove stt from Playthrough
  src/Playthrough.ts
Due: eslint --fix

add demos
  demos/browser-stt/.gitignore
  demos/browser-stt/index.html
  demos/browser-stt/package.json
  demos/browser-stt/pnpm-lock.yaml
  demos/browser-stt/readme.md
  demos/browser-stt/src/main.ts
  demos/browser-stt/src/style.css
  demos/browser-stt/src/vite-env.d.ts
  demos/browser-stt/tsconfig.json
  demos/deepgram-stt/.gitignore
  demos/deepgram-stt/index.html
  demos/deepgram-stt/package.json
  demos/deepgram-stt/pnpm-lock.yaml
  demos/deepgram-stt/readme.md
  demos/deepgram-stt/src/main.ts
  demos/deepgram-stt/src/style.css
  demos/deepgram-stt/src/vite-env.d.ts
  demos/deepgram-stt/tsconfig.json
Due: prettier --trailing-comma all --write

use staging stt server
  src/Microphone.ts
Due: eslint --fix

change names of files
  demos/browser-stt/src/main.ts
  demos/deepgram-stt/src/main.ts
  src/AudioInputsService.ts
  src/AudioOutputsService.ts
  src/BrowserSttService.ts
  src/index.ts
Due: eslint --fix

lower timeslice for MediaRecorder
  src/AudioInputsService.ts
Due: eslint --fix

update readme note on compatibility
  demos/browser-stt/readme.md
Due: prettier --trailing-comma all --write

create AudioManager and MediaAudio classes
  src/AudioManager.ts
  src/MediaAudio.ts
Due: eslint --fix

replace Microphone class (#48)
  demos/browser-stt/.gitignore
  demos/browser-stt/index.html
  demos/browser-stt/package.json
  demos/browser-stt/pnpm-lock.yaml
  demos/browser-stt/readme.md
  demos/browser-stt/src/main.ts
  demos/browser-stt/src/style.css
  demos/browser-stt/src/vite-env.d.ts
  demos/browser-stt/tsconfig.json
  demos/deepgram-stt/.gitignore
  demos/deepgram-stt/index.html
  demos/deepgram-stt/package.json
  demos/deepgram-stt/pnpm-lock.yaml
  demos/deepgram-stt/readme.md
  demos/deepgram-stt/src/main.ts
  demos/deepgram-stt/src/style.css
  demos/deepgram-stt/src/vite-env.d.ts
  demos/deepgram-stt/tsconfig.json
  package.json
  pnpm-lock.yaml
  src/AudioInputsService.ts
  src/AudioOutputsService.ts
  src/BrowserSttService.ts
  src/MicrophoneRecorder.ts
  src/MicrophoneRecorderWorklet.ts
  src/Playthrough.ts
  src/index.ts
  test/index.html
  test/mic-check.html
  test/speaker.html
  test/styles.css
Due: eslint --fix, prettier --trailing-comma all --write

add AudioManager to index
  src/index.ts
Due: eslint --fix

change to arrow functions for better "this" scoping
  src/AudioManager.ts
Due: eslint --fix

add tests to AudioManager
  jest.config.js
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  src/AudioManager.test.ts
Due: eslint --fix, prettier --trailing-comma all --write

change demos to AudioManager
  demos/browser-stt/readme.md
  demos/browser-stt/src/main.ts
  demos/deepgram-stt/readme.md
  demos/deepgram-stt/src/main.ts
Due: prettier --trailing-comma all --write

fix demos
  demos/browser-stt/src/main.ts
  demos/deepgram-stt/src/main.ts
Due: none

remove console logs
  demos/browser-stt/src/main.ts
  demos/deepgram-stt/src/main.ts
Due: none

remove commented code
  demos/deepgram-stt/src/main.ts
  src/AudioManager.test.ts
Due: eslint --fix

combine startListening events
  src/AudioManager.ts
Due: eslint --fix

rename file
  src/AudioInputsBrowser.ts
  src/AudioInputsService.ts
Due: eslint --fix

remove unused exports
  src/index.ts
Due: eslint --fix

simplify tests
  jest.config.js
  jest.setup.ts
  src/AudioManager.test.ts
  src/__mocks__/MockAudio.ts
  src/__mocks__/MockAudioInputsBrowser.ts
  src/__mocks__/MockAudioInputsService.ts
  src/__mocks__/MockAudioOutputsService.ts
  src/__mocks__/MockMediaAudio.ts
Due: eslint --fix

change event names for stt
  src/AudioManager.ts
Due: eslint --fix

change demo to button
  demos/deepgram-stt/index.html
  demos/deepgram-stt/src/main.ts
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --trailing-comma all --write: any of: *.{md,json}
