Repository charisma-ai/charisma-sdk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --trailing-comma all --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix"],
  "*.{md,json}": ["prettier --trailing-comma all --write"]
}

6.0.0-alpha.2
  package.json
Due: prettier --trailing-comma all --write

6.0.0-alpha.3
  package.json
Due: prettier --trailing-comma all --write

feat: prioritise transcripts in event loop
  src/AudioInputsService.ts
  src/Playthrough.ts
Due: eslint --fix

6.0.0-alpha.4
  package.json
Due: prettier --trailing-comma all --write

feat[#96]: get and set characterSpeechVolume
  CHANGELOG.md
  README.md
  src/AudioManager.ts
  src/Playthrough.ts
Due: eslint --fix, prettier --trailing-comma all --write

chore[#96]: rename audioManager from audio in demos for clarity
  demos/browser-stt/src/main.ts
  demos/deepgram-stt/src/main.ts
  demos/no-stt/src/main.js
Due: none

6.0.0-alpha.5
  package.json
Due: prettier --trailing-comma all --write

feat[#96]: fix live responsiveness of character volume changes
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix

6.0.0-alpha.6
  package.json
Due: prettier --trailing-comma all --write

feat[#1189]: make sure character audio starts on correct volume
  src/AudioOutputsService.ts
  src/Playthrough.ts
Due: eslint --fix

6.0.0-alpha.7
  package.json
Due: prettier --trailing-comma all --write

test: expose audio streams
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix

feat[#96]: udpate changelog
  CHANGELOG.md
  src/Playthrough.ts
Due: eslint --fix, prettier --trailing-comma all --write

6.0.0
  package.json
Due: prettier --trailing-comma all --write

[rnd]: expose various audio functions for the take-a-call demo: analyser node, audio streams
  pnpm-lock.yaml
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix

[rnd]: remove audio stream functions, rebuild
  pnpm-lock.yaml
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix

Expose audio playback times, rebuild
  pnpm-lock.yaml
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix

feat[99]: be able to set audio before audio starts
  src/AudioOutputsService.ts
Due: eslint --fix

chore[99]: fix repeated input field
  demos/deepgram-stt/index.html
Due: none

chore[99]: update Changelog note
  CHANGELOG.md
Due: prettier --trailing-comma all --write

6.0.1-alpha.1
  package.json
Due: prettier --trailing-comma all --write

feat[#99]:update demo terminology and fix and add to volume and mute options for character and background audio
  CHANGELOG.md
  demos/browser-stt/index.html
  demos/browser-stt/src/main.ts
  demos/deepgram-stt/index.html
  demos/deepgram-stt/src/main.ts
  demos/deepgram-stt/src/style.css
  demos/no-stt/index.html
  demos/no-stt/src/main.js
  src/AudioManager.ts
  src/AudioOutputsService.ts
  src/AudioTrackManager.test.ts
  src/AudioTrackManager.ts
Due: eslint --fix, prettier --trailing-comma all --write

feat[#99]:whoops, created package from demo dir
  demos/deepgram-stt/package.json
Due: prettier --trailing-comma all --write

6.0.1-alpha.3
  package.json
Due: prettier --trailing-comma all --write

Add onSpeechEnd callback method
  src/AudioManager.ts
Due: eslint --fix

feat[#99]: update audio manager and docs with granular controls
  README.md
  src/AudioManager.test.ts
  src/AudioManager.ts
  src/AudioOutputsService.ts
  src/AudioTrackManager.ts
Due: eslint --fix, prettier --trailing-comma all --write

feat[#99]: update demos, add audio controls for deepgram demo
  demos/browser_stt/.gitignore
  demos/browser_stt/index.html
  demos/browser_stt/package.json
  demos/browser_stt/pnpm-lock.yaml
  demos/browser_stt/readme.md
  demos/browser_stt/src/main.ts
  demos/browser_stt/src/style.css
  demos/browser_stt/src/vite-env.d.ts
  demos/browser_stt/tsconfig.json
  demos/deepgram_stt_and_audio_out_controls/.gitignore
  demos/deepgram_stt_and_audio_out_controls/index.html
  demos/deepgram_stt_and_audio_out_controls/package.json
  demos/deepgram_stt_and_audio_out_controls/pnpm-lock.yaml
  demos/deepgram_stt_and_audio_out_controls/readme.md
  demos/deepgram_stt_and_audio_out_controls/src/main.ts
  demos/deepgram_stt_and_audio_out_controls/src/style.css
  demos/deepgram_stt_and_audio_out_controls/src/vite-env.d.ts
  demos/deepgram_stt_and_audio_out_controls/tsconfig.json
  demos/no_stt/.gitignore
  demos/no_stt/index.html
  demos/no_stt/package.json
  demos/no_stt/pnpm-lock.yaml
  demos/no_stt/readme.md
  demos/no_stt/src/main.js
  demos/no_stt/src/style.css
  src/AudioManager.ts
  src/AudioTrackManager.ts
Due: eslint --fix, prettier --trailing-comma all --write

feat[#99]: fix background audio muting
  demos/deepgram_stt_and_audio_out_controls/src/main.ts
  src/AudioTrackManager.ts
Due: eslint --fix

feat[#99]: tidy ups around naming and readme
  CHANGELOG.md
  README.md
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix, prettier --trailing-comma all --write

7.0.0-alpha.1
  package.json
Due: prettier --trailing-comma all --write

docs: update changelog
  CHANGELOG.md
  src/Playthrough.ts
Due: eslint --fix, prettier --trailing-comma all --write

7.0.0
  package.json
Due: prettier --trailing-comma all --write

Improve audio connection flow
  src/AudioOutputsService.ts
Due: eslint --fix

feat: add analyser node to audio manager/outputs service
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix

feat[#101]: rename get analyser node
  src/AudioManager.ts
Due: eslint --fix

add experimental stop character speech function
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix

docs: update CHANGELOG
  CHANGELOG.md
  src/Playthrough.ts
Due: eslint --fix, prettier --trailing-comma all --write

7.0.1
  package.json
Due: prettier --trailing-comma all --write
