Repository charisma-ai/charisma-sdk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --trailing-comma all --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix"],
  "*.{md,json}": ["prettier --trailing-comma all --write"]
}

stop character speech when microphone turns on (#62)
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix

Add input for custom story ids
  demos/deepgram-stt/index.html
  demos/deepgram-stt/src/main.ts
  demos/deepgram-stt/src/style.css
Due: none

add story api key input
  demos/deepgram-stt/index.html
  demos/deepgram-stt/src/main.ts
  demos/deepgram-stt/src/style.css
Due: none

Add input for custom story ids (#64)
  demos/deepgram-stt/index.html
  demos/deepgram-stt/src/main.ts
  demos/deepgram-stt/src/style.css
Due: none

add handleDisconnect to audio manager
  demos/deepgram-stt/src/main.ts
  src/AudioInputsService.ts
  src/AudioManager.ts
Due: eslint --fix

update README
  README.md
Due: prettier --trailing-comma all --write

better disconnected stt message
  demos/deepgram-stt/src/main.ts
Due: none

Reconnect after internet disconnect
  demos/deepgram-stt/src/main.ts
  demos/deepgram-stt/src/style.css
  src/AudioInputsService.ts
  src/AudioManager.ts
Due: eslint --fix

reconnect after losing stt connection
  src/AudioInputsService.ts
Due: eslint --fix

Add (dis)connect messages
  demos/deepgram-stt/src/main.ts
  src/AudioInputsService.ts
  src/AudioManager.ts
Due: eslint --fix

Remove internet check in audio input service
  demos/deepgram-stt/src/main.ts
  src/AudioInputsService.ts
Due: eslint --fix

Show playthrough status messages
  demos/deepgram-stt/src/main.ts
Due: none

stop reconnect attempts after a timeout
  src/AudioInputsService.ts
  src/AudioManager.ts
Due: eslint --fix

add handleDisconnect to audio manager (#65)
  README.md
  demos/deepgram-stt/src/main.ts
  demos/deepgram-stt/src/style.css
  src/AudioInputsService.ts
  src/AudioManager.ts
Due: eslint --fix, prettier --trailing-comma all --write

unify tracks muted
  src/AudioTrackManager.ts
Due: eslint --fix

unlock audio on Start for browsers that need it
  demos/deepgram-stt/src/main.ts
Due: none

Smaller silent track
  demos/deepgram-stt/src/main.ts
Due: none

use AudioContext instead of HTMLAudioElement
  demos/deepgram-stt/src/main.ts
  src/AudioInputsService.ts
  src/AudioManager.ts
  src/AudioTrackManager.ts
Due: eslint --fix

Async play and fix tests
  src/AudioManager.ts
  src/AudioTrackManager.test.ts
  src/AudioTrackManager.ts
  src/MediaAudio.ts
Due: eslint --fix

remove unused mocks
  src/__mocks__/MockAudio.ts
  src/__mocks__/MockAudioOutputsService.ts
  src/__mocks__/MockMediaAudio.ts
Due: eslint --fix

fix await fetch
  src/AudioTrackManager.ts
Due: eslint --fix

Handle Safari and iOS Issues (#66)
  demos/deepgram-stt/src/main.ts
  src/AudioInputsService.ts
  src/AudioManager.ts
  src/AudioTrackManager.test.ts
  src/AudioTrackManager.ts
  src/MediaAudio.ts
  src/__mocks__/MockAudio.ts
  src/__mocks__/MockAudioOutputsService.ts
  src/__mocks__/MockMediaAudio.ts
Due: eslint --fix

update browser demo
  demos/browser-stt/index.html
  demos/browser-stt/src/main.ts
  demos/browser-stt/src/style.css
Due: none

no stt demo
  demos/no-stt/.gitignore
  demos/no-stt/index.html
  demos/no-stt/package.json
  demos/no-stt/pnpm-lock.yaml
  demos/no-stt/readme.md
  demos/no-stt/src/main.js
  demos/no-stt/src/style.css
Due: prettier --trailing-comma all --write

update readme
  demos/browser-stt/readme.md
  demos/no-stt/readme.md
Due: prettier --trailing-comma all --write

Demos (#70)
  demos/no-stt/.gitignore
  demos/no-stt/index.html
  demos/no-stt/package.json
  demos/no-stt/pnpm-lock.yaml
  demos/no-stt/readme.md
  demos/no-stt/src/main.js
  demos/no-stt/src/style.css
Due: prettier --trailing-comma all --write

update readmes and changelog
  CHANGELOG.md
  README.md
  demos/browser-stt/readme.md
  demos/deepgram-stt/readme.md
  demos/no-stt/readme.md
Due: prettier --trailing-comma all --write

update clarity
  README.md
Due: prettier --trailing-comma all --write

update readmes and changelog (#71)
  CHANGELOG.md
  README.md
  demos/browser-stt/readme.md
  demos/deepgram-stt/readme.md
  demos/no-stt/readme.md
Due: prettier --trailing-comma all --write

pass playerSessionId to stt server
  README.md
  demos/deepgram-stt/src/main.ts
  src/AudioInputsService.ts
  src/AudioManager.test.ts
  src/AudioManager.ts
  src/Playthrough.ts
Due: eslint --fix, prettier --trailing-comma all --write

Add limit to getPlayerSessionId loop
  src/Playthrough.ts
Due: eslint --fix

pass playerSessionId to stt server (#72)
  README.md
  demos/deepgram-stt/src/main.ts
  src/AudioInputsService.ts
  src/AudioManager.test.ts
  src/AudioManager.ts
  src/Playthrough.ts
Due: eslint --fix, prettier --trailing-comma all --write

update staging URLs to prod
  src/AudioInputsService.ts
  src/api.ts
Due: eslint --fix

update staging URLs to prod (#73)
  src/AudioInputsService.ts
  src/api.ts
Due: eslint --fix

5.0.0
  package.json
Due: prettier --trailing-comma all --write

update CHANGELOG
  CHANGELOG.md
Due: prettier --trailing-comma all --write

add AudioManagerOptions and AudioOutputsServicePlayOptions types exports
  src/index.ts
Due: eslint --fix

update changelog
  CHANGELOG.md
Due: prettier --trailing-comma all --write

5.0.1
  package.json
Due: prettier --trailing-comma all --write
