Repository charisma-ai/charisma-sdk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --trailing-comma all --write

Add missing exports (#75)
  CHANGELOG.md
  package.json
  src/index.ts
Due: eslint --fix, prettier --trailing-comma all --write

add missing file extensions
  src/AudioManager.ts
  src/AudioTrackManager.ts
Due: eslint --fix

up version
  CHANGELOG.md
  package.json
Due: prettier --trailing-comma all --write

add missing file extensions (#78)
  CHANGELOG.md
  package.json
  src/AudioManager.ts
  src/AudioTrackManager.ts
Due: eslint --fix, prettier --trailing-comma all --write

add sttUrl to AudioManager options
  src/AudioInputsService.ts
  src/AudioManager.ts
Due: eslint --fix

update docs
  README.md
Due: prettier --trailing-comma all --write

update CHANGELOG
  CHANGELOG.md
Due: prettier --trailing-comma all --write

update package version
  package.json
Due: prettier --trailing-comma all --write

79 pass sttUrl instead of hardcoding (#80)
  CHANGELOG.md
  README.md
  package.json
  src/AudioInputsService.ts
  src/AudioManager.ts
Due: eslint --fix, prettier --trailing-comma all --write

add outputServiceSetVolume for character speech
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix

update README
  README.md
Due: prettier --trailing-comma all --write

v5.0.4
  package.json
Due: prettier --trailing-comma all --write

81 add volume adjustment to character speech (#82)
  CHANGELOG.md
  README.md
  package.json
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix, prettier --trailing-comma all --write

Add timeout between reconnect attempts
  src/AudioInputsService.ts
Due: eslint --fix

up package version
  package.json
Due: prettier --trailing-comma all --write

pass timeout param to startListening methods
  src/AudioInputsBrowser.ts
  src/AudioManager.ts
Due: eslint --fix

update CHANGELOG and README
  CHANGELOG.md
  README.md
Due: prettier --trailing-comma all --write

up version number
  package.json
Due: prettier --trailing-comma all --write

add disconnect method
  src/AudioInputsService.ts
  src/AudioManager.ts
Due: eslint --fix

update CHANGELOG and README
  CHANGELOG.md
  README.md
  package.json
Due: prettier --trailing-comma all --write

move emission
  src/AudioInputsService.ts
Due: eslint --fix

emit stop on stopListening if there isn't a microphone
  src/AudioInputsService.ts
Due: eslint --fix

update version and changelog
  CHANGELOG.md
  package.json
Due: prettier --trailing-comma all --write

feat: add debugger function
  src/AudioInputsService.ts
  src/AudioManager.ts
  src/AudioOutputsService.ts
Due: eslint --fix

feat: update README with debugLogFunction
  README.md
Due: prettier --trailing-comma all --write

feat: add debugging details
  demos/deepgram-stt/src/main.ts
  package.json
  src/AudioOutputsService.ts
Due: eslint --fix, prettier --trailing-comma all --write

feat[#94]: add microphone signal enhancements
  src/AudioInputsService.ts
Due: eslint --fix

feat[#96]: add interim transcripts from stt service
  demos/deepgram-stt/src/main.ts
  src/AudioInputsService.ts
  src/AudioManager.ts
Due: eslint --fix

feat[#96]: udpate version info
  CHANGELOG.md
  src/Playthrough.ts
Due: eslint --fix, prettier --trailing-comma all --write

5.0.9-alpha.1
  package.json
Due: prettier --trailing-comma all --write

feat[#96]: use new STT hook
  demos/deepgram-stt/index.html
  demos/deepgram-stt/src/main.ts
  src/AudioInputsService.ts
Due: eslint --fix

feat[#96]: update CHANGELOG and bump sdk version in sdkInfo
  CHANGELOG.md
  src/Playthrough.ts
Due: eslint --fix, prettier --trailing-comma all --write

5.0.9-alpha.2
  package.json
Due: prettier --trailing-comma all --write

feat[#96]: update demos with more obvious story parameter inputs, reconfigure speech audio volume setup
  CHANGELOG.md
  README.md
  demos/browser-stt/index.html
  demos/browser-stt/src/main.ts
  demos/browser-stt/src/style.css
  demos/deepgram-stt/index.html
  demos/deepgram-stt/src/main.ts
  demos/deepgram-stt/src/style.css
  demos/no-stt/index.html
  demos/no-stt/src/main.js
  demos/no-stt/src/style.css
  src/AudioManager.ts
  src/AudioOutputsService.ts
  src/Playthrough.ts
Due: eslint --fix, prettier --trailing-comma all --write

6.0.0-alpha.1
  package.json
Due: prettier --trailing-comma all --write

chore[#96]: clearer class label
  demos/browser-stt/index.html
  demos/browser-stt/src/style.css
  demos/deepgram-stt/index.html
  demos/deepgram-stt/src/style.css
  demos/no-stt/index.html
  demos/no-stt/src/style.css
Due: none

feat[#96]: fix tests and add ci tests
  .github/workflows/run-tests.yml
  jest.config.js
  src/AudioManager.test.ts
  tsconfig.json
Due: eslint --fix, prettier --trailing-comma all --write

chore[#96]: update sdkInfo with new version
  src/Playthrough.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --trailing-comma all --write: any of: *.{md,json}
