Repository charisma-ai/charisma-sdk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --trailing-comma all --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "git add"],
  "*.md": ["prettier --single-quote --trailing-comma all --write", "git add"]
}

fix: ensure message playback only occurs when there has been a previous event
  src/Conversation.ts
Due: eslint --fix

fix: ensure playback events aren't intertwined with new events
  src/Charisma.ts
  src/Conversation.ts
  test/index.html
Due: eslint --fix

v1.8.0-alpha.3
  package.json
Due: none

fix: add `impacts` field to `GetPlaythroughResult` type
  CHANGELOG.md
  src/Charisma.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v1.8.0
  package.json
Due: none

improvement: `Speaker` will no longer try to play audio if the context's state is not `running`
  CHANGELOG.md
  src/Microphone.ts
  src/Speaker.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

chore: update deps
  .eslintrc
  package.json
  rollup.config.js
  src/Charisma.ts
  src/Conversation.ts
  src/Microphone.ts
  src/Speaker.ts
  yarn.lock
Due: eslint --fix

v1.8.1
  package.json
Due: none

refactor: `eventId`s are now emitted as `string`s
  CHANGELOG.md
  src/Charisma.ts
  src/Conversation.ts
  src/types.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

chore: update .lintstagedrc.json
  .lintstagedrc.json
Due: none

v1.9.0
  package.json
Due: none

fix: add `isImpactShareable` and `impactImageUrl` fields to impacts
  CHANGELOG.md
  src/types.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v1.9.1
  package.json
Due: none

refactor: update deps
  .eslintrc
  package.json
  src/Charisma.ts
  src/Conversation.ts
  src/Microphone.ts
  src/Speaker.ts
  yarn.lock
Due: eslint --fix

fix: add new fields to image layers
  CHANGELOG.md
  src/types.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v1.10.0-alpha.1
  package.json
Due: none

build: use microbundle instead of rollup
  .eslintignore
  .gitignore
  .lintstagedrc.json
  .prettierrc.json
  package.json
  rollup.config.js
  test/index.html
  test/speaker.html
  tsconfig.json
  yarn.lock
Due: none

refactor: improve implementation of microphone
  CHANGELOG.md
  README.md
  src/Microphone.ts
  src/index.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

refactor: API methods are now exported individually instead of as static methods on `Charisma`
  CHANGELOG.md
  README.md
  package.json
  src/Charisma.ts
  src/api.ts
  src/index.ts
  src/types.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

refactor: improve connection status handling
  .eslintrc
  CHANGELOG.md
  src/Charisma.ts
  src/index.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v2.0.0-alpha.1
  package.json
Due: none

refactor: rename `Charisma` to `Playthrough`
  CHANGELOG.md
  README.md
  package.json
  src/Conversation.ts
  src/Playthrough.ts
  src/index.ts
  test/index.html
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v2.0.0-alpha.2
  package.json
Due: none

fix: fix SSR issue by using `window` check
  src/Microphone.ts
Due: eslint --fix

v2.0.0-alpha.3
  package.json
Due: none

feat: add `restartFromEventId` API method
  src/api.ts
Due: eslint --fix

v2.0.0-alpha.4
  package.json
Due: none

fix: add `restartFromEventId` to `Playthrough`
  src/Playthrough.ts
Due: eslint --fix

v2.0.0-alpha.5
  package.json
Due: none

feat: add `CharacterMoodChanges` to `episode-complete` event
  src/types.ts
Due: eslint --fix

v2.0.0-alpha.6
  package.json
Due: none

feat: add `avatar` field to `characterMoods` object
  src/types.ts
Due: eslint --fix

v2.0.0-alpha.7
  package.json
Due: none

feat: add `audioTracks` and `animationIn/Out` properties to `Media`
  src/types.ts
Due: eslint --fix

v2.0.0-alpha.8
  package.json
Due: none

feat: add `stopAllAudio` field to `Media`
  src/types.ts
Due: eslint --fix

v2.0.0-alpha.9
  package.json
Due: none

refactor: conversation IDs are now UUIDs
  CHANGELOG.md
  src/Conversation.ts
  src/Playthrough.ts
  src/api.ts
  src/types.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v2.0.0-alpha.10
  package.json
Due: none

feat: replace socket.io with colyseus.js
  CHANGELOG.md
  package.json
  src/Playthrough.ts
  src/Speaker.ts
  src/api.ts
  src/types.ts
  test/index.html
  yarn.lock
Due: eslint --fix, prettier --single-quote --trailing-comma all --write
